.alt-header {
  margin-top: 26px;
  padding: var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: center;
  color: silver;
}

.alt-header__title {
  font-size: 24px;
  font-weight: 600;
}

.alt-header__column {
  width: 33.33%;
}
.alt-header__column:first-child {
  display: flex;
  justify-content: flex-start;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
