.badge {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

@keyframes blinkingDot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.badge-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  animation: blinkingDot 1s linear infinite;
}
